.containerButtonPositioned {
  display: flex;

  padding: 16px 40px;

  background-color: var(--primary);

  color: var(--white);

  border: none;
  border-radius: 25px;

  cursor: pointer;

  position: fixed;
  bottom: 20px;

  &:hover {
    opacity: 0.9;
    transition: .5s;
  }

  span {
    font-weight: 700;
    font-size: 16px;
  }
}

.containerButton {
  padding: 16px 40px;

  background-color: var(--primary);

  color: var(--white);

  border: none;
  border-radius: 25px;

  cursor: pointer;

  text-align: center;

  &:hover {
    opacity: 0.9;
    transition: .5s;
  }

  span {
    font-weight: 700;
    font-size: 16px;
  }
}
