* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4A3780;

  --border: #E0E0E0;

  --white: #FFFFFF;
  
  --gray-100: #E5E9ED;
  --gray-200: #FEF5D3;

  --yellow-800: #FEF5D3;

  --blue-500: #194A66;

  --black: #000000;

  --zinc-500: #71717a;
}

body {
  height: 100vh;

  background-color: var(--gray-200);

  font-family: "Inter", sans-serif;
  color: var(--white);
}
