* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #712DE0, #EB2F93);

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
}