.container {
    width: 500px;
    height: 500px;

    background-color: #fff;

    margin-top: 20px;
    padding: 20px;

    border-radius: 20px;

    strong {
        font-size: 1.2rem;
        font-family: "Outfit", sans-serif;
    }

    form {
        margin: 10px 0;

        width: 100%;
        height: 45px;

        display: flex;
        align-items: center;

        gap: 20px;

        input {
            width: 100%;
            height: 100%;

            padding: 8px 15px;

            font-size: 14px;
            font-family: "Outfit", sans-serif;

            border: none;

            &:focus {
                box-shadow: 0 0 1em #7c3ae7;
                outline-color: #fff;
            }
        }

        button {
            width: 45px;
            height: 40px;

            border-radius: 50%;

            border: none;

            background-color: #7c3ae7;

            font: 600 1.5rem "Outfit", sans-serif;
            color: #fff;

            cursor: pointer;
        }
    }
}
